In [2]:
pip install yfinance

Collecting yfinance
  Obtaining dependency information for yfinance from https://files.pythonhosted.org/packages/60/bf/70efe5138327c7ccf34f0a870ac97d41d3c06fecb2ec8dc2060ff39aadc9/yfinance-0.2.30-py2.py3-none-any.whl.metadata
  Using cached yfinance-0.2.30-py2.py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: pandas>=1.3.0 in /opt/homebrew/anaconda3/lib/python3.11/site-packages (from yfinance) (2.0.3)
Requirement already satisfied: numpy>=1.16.5 in /opt/homebrew/anaconda3/lib/python3.11/site-packages (from yfinance) (1.24.3)
Requirement already satisfied: requests>=2.31 in /opt/homebrew/anaconda3/lib/python3.11/site-packages (from yfinance) (2.31.0)
Collecting multitasking>=0.0.7 (from yfinance)
  Using cached multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Requirement already satisfied: lxml>=4.9.1 in /opt/homebrew/anaconda3/lib/python3.11/site-packages (from yfinance) (4.9.2)
Requirement already satisfied: appdirs>=1.4.4 in /opt/homebrew/anaconda3/lib/python3.11/site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in /opt/homebrew/anaconda3/lib/python3.11/site-packages (from yfinance) (2022.7)
Collecting frozendict>=2.3.4 (from yfinance)
  Using cached frozendict-2.3.8-py311-none-any.whl (14 kB)
Collecting peewee>=3.16.2 (from yfinance)
  Using cached peewee-3.16.3-cp311-cp311-macosx_11_0_arm64.whl
Requirement already satisfied: beautifulsoup4>=4.11.1 in /opt/homebrew/anaconda3/lib/python3.11/site-packages (from yfinance) (4.12.2)
Collecting html5lib>=1.1 (from yfinance)
  Using cached html5lib-1.1-py2.py3-none-any.whl (112 kB)
Requirement already satisfied: soupsieve>1.2 in /opt/homebrew/anaconda3/lib/python3.11/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: six>=1.9 in /opt/homebrew/anaconda3/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /opt/homebrew/anaconda3/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/homebrew/anaconda3/lib/python3.11/site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /opt/homebrew/anaconda3/lib/python3.11/site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/homebrew/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/homebrew/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/homebrew/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /opt/homebrew/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2023.7.22)
Using cached yfinance-0.2.30-py2.py3-none-any.whl (65 kB)
Installing collected packages: peewee, multitasking, html5lib, frozendict, yfinance
Successfully installed frozendict-2.3.8 html5lib-1.1 multitasking-0.0.11 peewee-3.16.3 yfinance-0.2.30
Note: you may need to restart the kernel to use updated packages.

In [26]:
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt

In [15]:
energy = yf.Ticker("IYE")
# energy.info
energy_hist = energy.history(period="12mo")
energy_hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2022-09-29 00:00:00-04:00,38.172943,38.424972,37.416849,38.366814,878400,0.000,0.0,0.0
2022-09-30 00:00:00-04:00,38.085700,38.657616,37.727038,38.105087,1194000,0.000,0.0,0.0
2022-10-03 00:00:00-04:00,39.491258,40.402444,39.384629,40.160107,1308300,0.000,0.0,0.0
2022-10-04 00:00:00-04:00,40.984051,41.895241,40.741714,41.895241,1246900,0.000,0.0,0.0
2022-10-05 00:00:00-04:00,41.885546,42.845203,41.333018,42.535011,1506700,0.000,0.0,0.0
...,...,...,...,...,...,...,...,...
2023-09-22 00:00:00-04:00,47.060225,47.368069,46.752384,46.752384,341700,0.000,0.0,0.0
2023-09-25 00:00:00-04:00,46.762314,47.457443,46.742453,47.377998,262900,0.000,0.0,0.0
2023-09-26 00:00:00-04:00,46.990002,47.389999,46.919998,47.099998,470900,0.332,0.0,0.0
2023-09-27 00:00:00-04:00,47.700001,48.459999,47.520000,48.279999,482300,0.000,0.0,0.0
2023-09-28 00:00:00-04:00,48.180000,48.610001,48.009998,48.349998,541485,0.000,0.0,0.0

In [20]:
tech = yf.Ticker('IWY')
tech_hist = tech.history(period='12mo')
new_df = tech_hist.drop(columns=['Capital Gains', 'Dividends', 'Stock Splits'])
new_df

,Open,High,Low,Close,Volume
Date,,,,,
2022-09-29 00:00:00-04:00,122.441927,122.491535,119.514827,120.884117,375700
2022-09-30 00:00:00-04:00,120.268926,121.886268,118.562279,118.562279,468400
2022-10-03 00:00:00-04:00,119.336227,121.945813,118.810343,121.191711,320000
2022-10-04 00:00:00-04:00,123.533391,125.160657,123.533391,124.972130,391700
2022-10-05 00:00:00-04:00,123.334945,125.666698,122.451856,124.962212,555800
...,...,...,...,...,...
2023-09-22 00:00:00-04:00,155.282942,156.071427,154.264885,154.484467,186700
2023-09-25 00:00:00-04:00,154.055300,155.302914,153.695987,155.253006,164100
2023-09-26 00:00:00-04:00,154.190002,154.289993,152.320007,152.690002,174000
2023-09-27 00:00:00-04:00,153.149994,153.550003,151.169998,152.699997,212300
2023-09-28 00:00:00-04:00,152.220001,154.520004,151.880005,153.789993,151694

In [25]:
most_vol = new_df['Volume'].max()
highest_vol = new_df.loc[new_df['Volume']==most_vol]
highest_vol

,Open,High,Low,Close,Volume
Date,,,,,
2023-03-15 00:00:00-04:00,127.71082,129.640259,127.312989,129.570633,5490600